body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ2UzaWF2N2M3Mm1xMWhtazJrMzJhdDh0MGFoMzc5b2RjMm50NnlweCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l4FGyGSeCm7pOhzKo/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #ebe7e7;
    -webkit-text-stroke: 2px black;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
